hr{
 
  opacity: 0.25;
}

/* 0 */
#productParent_0{
  margin-left: 1%;
}
#product-filter-div{
  display: flex;
}


/* 0 */

#productParent_1 {
  display: flex;
  /* border: 1px solid #000; */
  /* height: 500px; */
}
#productSidebar {
  margin-left: 1%;
  width: 16%;
  /* border: 1px solid #c51414; */
}
#productSidebar form label{
  font-size: 0.88rem;
 color: #4b4b4f;
  
}
#productSidebar form input{
    margin: 3%;
    scale: 1;
    /* opacity: 0.35; */
    /* background-color: rgb(86, 4, 4); */
   
}

input[type="checkbox"]{
  appearance: none;
  
}
input[type="checkbox"]::before{
  content: "✔";
  padding: 0rem 0.1rem ;
  /* color: rgb(112, 12, 12); */
  color: transparent;
  transform: scale(0);
}
input[type="checkbox"]:checked::before{
  
  color: white;
  background-color: #ff3f6c;
}
input[type="checkbox"]::before{
  background-color: rgb(255, 255, 255);
  transform: scale(1);
  
  border: 1px solid rgba(0,0,0,0.2);
}



#filterColor form input[type="radio"]{
  appearance: none;
}
#filterColor form input[type="radio"]::before{
  content: "✔";
  padding: 0rem 0.1rem ;
  /* color: rgb(112, 12, 12); */
  color: transparent;
  /* transform: scale(0); */
}

#filterColor form input[type="radio"]::before{
  /* background-color: rgb(205, 7, 7); */
  transform: scale(1);
  border-radius: 1rem;
  border: 1px solid rgba(0,0,0,0.4);
}



#productSidebar >div h4{
  margin: 6% 3%;
  /* border-color: gray; */
  
}









 #product-page-product-div {
  padding: 2%;
  width: 84%;
  /* border: 1px solid #0e2097; */
}
#product-page-item-div {
  margin-bottom: 4rem;
  display: grid;
  /* grid-auto-rows: ; */
 
  grid-template-columns: repeat(5, 1fr);
  
  
  
 gap: 30px 2rem;
  /* border: 1px solid #000; */
}
#product-page-item-div img {
  width: 100%;
  
}
#product-page-item-div >div:hover{
  /* height: 50%; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  /* border: 1px solid #9f0d0d; */
  
}
#product-page-item-div>div h3{
  margin: 0;
  margin-top: 10px;
  margin-left: 0.5rem;
  font-size: 1rem;
  opacity: 0.7;
  
}
/* #item >div>button {
  
  visibility: hidden;
}
#item >div:hover > .w-btn{
  
  visibility: visible;
} */
#product-page-item-div >div >p{
  margin: 0.2rem 0px 0.6rem 0.5rem;
  
  font-size: 0.8rem;
  
}
#price-small-div{
  margin-left: 0.5rem;
  margin-bottom: 0.4rem;
  display: flex;
  /* justify-content: space-around; */
  gap: 5px;
}
#price-small-div p{
  margin: 0;
  font-size: 0.8rem;
}
#price-small-div p:nth-child(1){
  
  font-weight: bold;
}
#price-small-div p:nth-child(2){
  text-decoration: line-through;
  color: gray;
}

#price-small-div p:last-child{
  color: #ffae95;
}
/* page button -------------------------------------------*/

#product-page-list{
  margin-top: 2rem;
  display: flex;
}
#product-page-list>div:nth-child(1){
   width: 30%;
   font-size: 0.8rem;
   /* border: 1px solid #000; */
}
#product-page-list>div:nth-child(2){
   width: 30%;
   /* border: 1px solid #000; */
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
#product-page-list>div:nth-child(2) button{
  border: 1px solid #7a7878;
  
  background-color: white;
  color: black;
  font-weight: bold;
  height: 1.9rem;
  
}
#product-page-list>div:nth-child(2) button:active{
  
}
#product-page-list>div:nth-child(2) button:hover{
  /* border: 1px solid gray; */
  
}
#product-page-list>div:nth-child(3){
  width: 20%;
  /* border: 1px solid #000; */
  display: flex;
   justify-content: space-evenly;
   align-items: center;
}

#btn-next{
  height: 2.5rem;
  width: 6rem;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.2);
  font-weight: bold;
  /* margin-left: ; */
}
/* page button -------------------------------------------*/



/* footer -------------------------------------*/
#product-page-footer-parent-1{
  display: flex;
  
  /* border: 1px solid #000; */
  margin: 5% auto;
  width: 68%;
  gap: 3.8rem;
  font-size: 0.85rem;
}
#footer-buy{
  text-align: justify;
  width: 65%;
  margin-bottom: 4rem;
  /* border: 1px solid #c11919; */
}
#footer-buy >p{
  
  color: #70707a;
  /* border: 1px solid #c11919; */
}
#footer-price-list{
  
  width: 35%;
  
}

ul{
  color: rgb(85, 83, 83);
  margin-left: -1.5rem;
  
}
ul  ul{
  color: gray;
  margin: 1rem;
  margin-left: -2.5rem;
}


#video-embed{
  width: 86%;
  height: 16%;
}

table{
  width: 100%;
  
}
td{
  text-align: left;
  font-size: 0.8rem;
  padding: 5px;
}
tr{
  color: gray;
  height: 2.5rem;
}
th{
  font-size: 0.8rem;
  padding: 5px;
  text-align: left;
}

/* footer 2 -------------------------------------*/
